@model IEnumerable<MyCarApp.BE.BussinessEntities.Car>

@{
    ViewBag.Title = "CarsByBrand";
}

@if (Model == null)
{
    Response.Redirect("/User/Index");
}
<div class="breadcrumb-option">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/User/index"><i class="fa fa-home" style="padding-right: 5px;"></i>Home</a>
                    <a href="#">Car by Brand</a>
                    <span>@Model.FirstOrDefault().Brand</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
   
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <a href="/User/CarDetails?Id=@item.Id">
                    <div class="imgBox">
                        <img src="~/Uploads/CarsImages/@item.Image" />
                    </div>
                </a>
                <div class="contentBox">
                    <h3> @Html.DisplayFor(modelItem => item.Name)</h3>
                    <h2 class="price">Brand: @item.Brand</h2>
                    <h3 class="price">From : @Math.Ceiling(item.CarVarients.OrderBy(x => x.Price).FirstOrDefault().Price)</h3>
                </div>
            </div>
        </div>
    }
</div>
<br />
