

@{
    ViewBag.Title = "CompareCars";
}

@Styles.Render("~/Content/CompareCars.css")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexPage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />


</head>
<body>
    <div class="image-wrap">
        <div class="img-content">
            <img src="~/Images/CompareCar_Banner.jpg" alt="" />
        </div>
        <div class="overlay"></div>
    </div>
    <div class="banner-content">
        <h1>Confused ? <br />Easy way to compare cars</h1>
    </div>
    <a href="/User/Index" style="padding-left: 20px; font-size:medium">Home ></a>

    <div class="container1">
        <div class="row" style="width:auto; height:100%">
            <h1 id="Indexheading" style=" font-variant: small-caps; margin-top: 0px; padding: 30px; text-align: center">Compare Cars</h1>
            <hr style="background-color: black; margin-left:20px; margin-right:20px" />
            <div class="col-md-3 col-sm-6">
                <div class="card1 text-center">
                    <div class="card-block">
                        <img src="~/Images/AddCars.png" alt="" class="img-thumbnail" style="border:none" />
                        <div class="card-title">
                            <h4>Add Car</h4>
                        </div>
                        <select name="newCarByModelBrand" style="margin-top:10px; margin-bottom:10px; width:100%; height:auto;">
                            <option>Select Brand/Model</option>
                            <option>Maruti</option>
                            <option>Kia</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card1 text-center">
                    <div class="card-block">
                        <img src="~/Images/AddCars.png" alt="" class="img-thumbnail" style="border:none" />
                        <div class="card-title">
                            <h4>Add Car</h4>
                        </div>
                        <select name="newCarByModelBrand" style="margin-top:10px; margin-bottom:10px; width:100%; height:auto;">
                            <option>Select Brand/Model</option>
                            <option>Maruti</option>
                            <option>Kia</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card1 text-center">
                    <div class="card-block">
                        <img src="~/Images/AddCars.png" alt="" class="img-thumbnail" style="border:none" />
                        <div class="card-title">
                            <h4>Add Car</h4>
                        </div>
                        <select name="newCarByModelBrand" style="margin-top:10px; margin-bottom:10px; width:100%; height:auto;">
                            <option>Select Brand/Model</option>
                            <option>Maruti</option>
                            <option>Kia</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card1 text-center">
                    <div class="card-block">
                        <img src="~/Images/AddCars.png" alt="" class="img-thumbnail" style="border:none" />
                        <div class="card-title">
                            <h4>Add Car</h4>
                        </div>
                        <select name="newCarByModelBrand" style="margin-top:10px; margin-bottom:10px; width:100%; height:auto;">
                            <option>Select Brand/Model</option>
                            <option>Maruti</option>
                            <option>Kia</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="button" style="text-align:center; margin-top: 50px">
                <a href="#" class="btn btn-warning btn-lg">Compare Now</a>
            </div>
        </div>
    </div>
</body>
</html>



